<configuration>
	<dllmap dll="Horde3D.dll">
		<dllentry os="linux" dll="libHorde3D.so"/>
		<dllentry os="windows" dll="Horde3D.dll"/>
	</dllmap>
	<dllmap dll="Horde3DUtils.dll">
		<dllentry os="linux" dll="libHorde3DUtils.so" />
		<dllentry os="windows" dll="Horde3DUtils.dll"/>
	</dllmap>
</configuration>